[submodule "vendor/github.com/faith/color"]
	path = vendor/github.com/faith/color
	url = https://github.com/fatih/color.git
[submodule "vendor/github.com/adlio/trello"]
	path = vendor/github.com/adlio/trello
	url = https://github.com/adlio/trello.git
[submodule "vendor/github.com/abiosoft/ishell"]
	path = vendor/github.com/abiosoft/ishell
	url = https://github.com/abiosoft/ishell.git
